*.pyc
.idea
.vscode
venv
config
__pycache__/
*.DS_Store
node_modules/
job_*.txt
.pytest_cache/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
id_rsa
*.pub
*.zip
*.egg-info
.coverage
docs/build/
build/
dist/
